@import '../../../sass/globals';

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #fdfdfd;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 3px .2px #777777;
    padding-left: 10px;
    z-index: 1;

    .title {
        font-size: 2rem;
        text-decoration: underline;
        cursor: pointer;
        letter-spacing: .1rem;
        color: $layoutTextColor;
    }

    .card-icon-container {
        $width-multiplier: 1;
        @include flex();
        position: relative;
        cursor: pointer;
        

        .fa-shopping-cart {
            font-size: 2rem;
            color: #7d4cb4;
            transition: color .3s;

        }
            .cyrcle-border {
                position: absolute;
                width: calc(70px * $width-multiplier);
                height: calc(70px * $width-multiplier);
                border-radius: 100%;
                background-color: #e5d2ff;
                margin-left: 3px;
                transition: background-color .3s;
                z-index: -1;
            }
            .cyrcle-outline {
                @extend .cyrcle-border;
                width: calc(90px * $width-multiplier);
                height: calc(90px * $width-multiplier);
                background-color: #b28de4;
                transition: background-color .3s;
                z-index: -2;
            }
            
            .cart-length {
                @include flex();
                position: absolute;
                background-color: #dcc4ff;
                color: black;
                font-weight: bold;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                right: -30px;
                bottom: -25px;
            }
        &:hover {
            .fa-shopping-cart {
                color: #8e58cc;
            }
            .cyrcle-border {
                background-color: #ffffff;
            }
            .cyrcle-outline {
                background-color: #c399fa;
            }
        }
    }
}

.custom-shape-divider-top-1669030811 {
    position: absolute;
    bottom: -40%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1669030811 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 38px;
}

.custom-shape-divider-top-1669030811 .shape-fill {
    fill: #946CC9;
}