.product-detail {
  width: calc(100vw - 20%);
  height: calc(100vh - 170px);
  margin: auto;
  display: flex;
  border: 1px solid lightgray;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.product-detail__img-container {
  width: 50%;
  height: 100%;
  border-right: 1px solid lightgray;
  padding: 30px;
}
.product-detail__img-container > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-detail__info {
  width: 50%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}

.product-detail__info__title {
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 7px 0px;
}

.product-detail__info__category {
  color: gray;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-inline: 5px;
  -webkit-padding-after: 3px;
          padding-block-end: 3px;
  background-color: rgba(211, 211, 211, 0.4745098039);
}

.product-detail__info__description {
  border-left: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
  flex: 1;
  max-height: auto;
  overflow-y: auto;
  padding: 10px;
  line-height: 1.4;
  background-image: linear-gradient(to right, rgba(211, 211, 211, 0.3411764706), white);
}

.product-detail__info__buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product-detail__info__buttons > button {
  cursor: pointer;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 15px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 180px;
}
.product-detail__info__buttons > button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8d61c7;
  border-radius: 15px;
  z-index: -2;
}
.product-detail__info__buttons > button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #6739a2;
  transition: all 0.3s;
  border-radius: 15px;
  z-index: -1;
}
.product-detail__info__buttons > button:hover {
  color: #fff;
}
.product-detail__info__buttons > button:hover:before {
  width: 100%;
}

.product-detail__info__buttons__price-tag {
  display: inline-block;
  padding: 10px;
  position: relative;
}
.product-detail__info__buttons__price-tag .tag {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #487586;
  border-bottom: 20px solid transparent;
}
.product-detail__info__buttons__price-tag .price {
  color: white;
  width: 100px;
  height: 40px;
  background-color: #487586;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.product-detail__info__buttons__price-tag .price::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 15%;
}/*# sourceMappingURL=product-detail.css.map */